li {
    color: red;
}

#link {
    color: black;
    font-size: 18px;
    font-family: "Edu AU VIC WA NT Pre", serif;
}

i {
    color: blue;
}

#e-commerce{
    font-family: "Edu AU VIC WA NT Pre", serif;
    font-weight: 500;
}